{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="container">
        <div class="div-area">
            <p>Ações de perfil</p>
            <form id='form_cadastrar_aluno' action="{% url 'registrar_aluno' %}" method="GET">
                <button class="btn" type="submit">Cadastrar aluno</button>
            </form>
            <form id="form_listar_alunos" action="listar_alunos" method="GET">
                <button class="btn" type="submit">Listar alunos</button>
            </form>
            <form id="" action="" method="GET">
                <button class="btn" type="submit">Não faço nada</button>
            </form>
            <form id="" action="" method="GET">
                <button class="btn" type="submit">Também não faço nada</button>
            </form>
            <form id="" action="" method="GET">
                <button class="btn" type="submit">Pretendo fazer algo</button>
            </form>
            <form id="" action="" method="GET">
                <button class="btn" type="submit">Só de enfeite</button>
            </form>
        </div>
    </section>
{% endblock %}