{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="div-area">
        <form class="form-area" id="edit" action="{% url 'gerir_aluno' %}" method="POST">
            {% csrf_token %}
            <h1>Editar Aluno</h1>
            <hr width="100%" />
            <label for="student_name">Nome do aluno</label>
            <input type="text" id="student_name" name="student_name" value="{{student.student_name}}">
            <br>
            <label for="student_ra" >RA</label>
            <input type="text" id="student_ra" name="student_ra" value="{{student.student_ra}}"
                   placeholder="Ex.: 0001112223344-2" required>
            <br>
            <label for="group_name" >Turma</label>
            <input type="text" id="group_name" name="group_name" value="{{student.student_group}}"
                   placeholder="" required>
            <br>
            <label for="student_diet_restriction" >Restrição alimentar</label>
            <textarea id="student_diet_restriction" name="student_diet_restriction"
                   placeholder="Ex.: Lactose; Alfafa" rows="4" cols="45">{{student.student_diet_restriction}}</textarea>
            <br>
            <label for="student_gender">Sexo do aluno</label>
            <select id="student_gender" name="student_gender" required>
                {% for key, verbose in sex_biological_choices %}
                {% if key == student.student_gender %}
                <option value="{{key}}" selected>{{verbose}}</option>
                {% else %}
                <option value="{{key}}">{{verbose}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br>
            <label for="student_age">Idade do aluno (em meses)</label>
            <input type="number" id="student_age" name="student_age" value="{{student.student_age}}"
                   placeholder="Ex.: 163">
            <br>
            <label for="student_height">Altura (em centímetros)</label>
            <input type="number" id="student_height" name="student_height" step="0.01"
                   oninput="this.value = this.value.replace(/,/g, '.')"
                   onblur="this.value = this.value.replace(/,/g, '.')"
                   value="{{student.student_height}}"
                   placeholder="Ex.: 129.34">
            <br>
            <label for="student_weight">Peso (em gramas)</label>
            <input type="number" id="student_weight" name="student_weight" value="{{student.student_weight}}"
                   placeholder="Ex.: 22934">
            <br>
            <input type="text" name="student_id" value="{{student.id}}" hidden>
            <input type="text" name="option" value="editar_salvar" hidden>
        </form>
        <button class="btn" form="edit" type="submit">Salvar</button>
        <button class="btn" form="edit" type="submit" name="option" value="cancelar">Cancelar</button>
    </div>
</section>
{% endblock %}