{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="div-area">
        <form class="form-area" id="pesquisar-aluno" action="{% url 'listar_alunos' %}" method="POST">
            {% csrf_token %}
            <h1>Pesquisar Aluno</h1>
            <hr width="100%" />
            <label for="">Forneça o nome ou RA de um aluno</label>
            <div class="lista-alunos">
                <input name="search" placeholder="Machado de Assis">
            </div>
            <input type="submit" class="btn" value="Pesquisar">
            <input hidden name="option" value='listar_alunos'>
        </form>
        <div class="form-area" id="lista-alunos">
            {% csrf_token %}
            <h1>Lista de alunos</h1>
            <hr width="100%" />
            <label for="">Selecione um aluno para editar ou excluir</label>
            <div class="lista-alunos">
                {%for student in lista_alunos%}
                <form id='list_students_form' action="{% url 'perfil_aluno' %}" method="POST">
                    {% csrf_token %}
                    <small>{{student.student_name}} | {{student.student_group}}</small>
                    <button type="submit" class="btn" style="font-size: 200%;">&#9656;</button>
                    <input hidden name="student_id" value="{{student.id}}">
                </form>
                {%endfor%}
            </div>
        </div>
    </div>
</section>
{% endblock %}