{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="div-area">
        <form class="form-area" id="pesquisar-aluno" action="{% url 'listar_alunos' %}" method="POST">
            {% csrf_token %}
            <h1>Pesquisar Aluno</h1>
            <hr width="100%" />
            <label for="">Forneça o nome ou RA de um aluno</label>
            <div class="lista-alunos">
                <input name="search" placeholder="Machado de Assis">
            </div>
            <input type="submit" class="btn" value="Pesquisar">
            <input hidden name="option" value='listar_alunos'>
        </form>
        <div class="form-area" id="lista-alunos">
            {% csrf_token %}
            <h1>Lista de alunos</h1>
            <hr width="100%" />
            <label for="">Selecione um aluno para editar ou excluir</label>
            <div class="lista-alunos">
                {%for student in lista_alunos%}
                <form id='list_students_form' action="{% url 'perfil_aluno' %}" method="POST">
                    {% csrf_token %}
                    <small>
                        {% if student.classification == 'Muito Abaixo do Peso' %}
                            <span class="indicator solid-arrow blue-dark">⬇</span>
                        {% elif student.classification == 'Abaixo do Peso' %}
                            <span class="indicator solid-arrow blue-light">⬇</span>
                        {% elif student.classification == 'Peso Adequado' %}
                            <span class="indicator circle green">●</span>
                        {% elif student.classification == 'Sobrepeso' %}
                            <span class="indicator solid-arrow red-light">⬆</span>
                        {% elif student.classification == 'Obesidade' %}
                            <span class="indicator solid-arrow red-dark">⬆</span>
                        {% endif %}
                        {{student.student_name}} | {{student.student_group}}
                    </small>
                    <button type="submit" class="btn">&#9656;</button>
                    <input hidden name="student_id" value="{{student.id}}">
                </form>
                {%endfor%}
            </div>
        </div>
    </div>
</section>

<style>
    .lista-alunos form#list_students_form {
    display: flex; /* Habilita o Flexbox para o formulário */
    flex-direction: row; /* Organiza os itens em linha (horizontalmente) */
    align-items: center; /* Alinha os itens verticalmente ao centro da linha */
    margin-bottom: 5px; /* Adiciona um pouco de espaço entre os formulários de alunos */
}

.lista-alunos form#list_students_form small {
    flex-grow: 1; /* Permite que o texto cresça para ocupar o espaço disponível */
    margin-right: 10px; /* Adiciona um espaço entre o texto e o botão */
}


.lista-alunos form#list_students_form button.btn {
    flex-shrink: 0; /* Impede que o botão encolha */
    font-size: 0.8em; /* Reduz o tamanho da fonte para metade do padrão */
    padding: 2px 5px; /* Ajusta o padding vertical e horizontal para um botão menor */
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    line-height: normal; /* Garante que a altura da linha não infle o botão */
    /* Outros estilos para o seu botão */
}


</style>

{% if lista_alunos %}
    <script>
        document.getElementById('pesquisar-aluno').style.display = 'none';
        document.getElementById('lista-alunos').style.display = 'block';
    </script>
{% else %}
    <script>
        document.getElementById('pesquisar-aluno').style.display = 'block';
        document.getElementById('lista-alunos').style.display = 'none';
    </script>
{% endif %}




{% endblock %}