{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="div-area">
        <form class="form-area" method="POST">
            {% csrf_token %}
            <h1>Cadastrar aluno</h1>
            <hr width="100%" />
            <p>Para efetuar o cadastro, digite os seus dados nos campos abaixo.</p>
            <label for="student_name">Nome completo do aluno</label>
            <input type="text" id="student_name" name="student_name"
                   placeholder="Ex.: Ada Lovelace" required autofocus>
            <br>
            <label for="student_ra" >RA</label>
            <input type="text" id="student_ra" name="student_ra" placeholder="Ex.: 00011122233442" required>
            <br>
            <label for="group_name" >Turma</label>
            <input type="text" id="group_name" name="group_name" placeholder="Ex.: 2ª Série C" required>
            <br>
            <label for="student_diet_restriction" >Restrição alimentar</label>
            <textarea id="student_diet_restriction" name="student_diet_restriction" rows="4" cols="45"
                   placeholder="Ex.: Lactose; Alfafa"></textarea>
            <br>
            <label for="student_gender">Sexo do aluno</label>
            <select id="student_gender" name="student_gender" required>
                {% for key, verbose in sex_biological_choices %}
                <option value="{{key}}">{{verbose}}</option>
                {% endfor %}
            </select>
            <br>
            <label for="student_age">Idade do aluno (em meses)</label>
            <input type="number" id="student_age" name="student_age" placeholder="Ex.: 163">
            <br>
            <label for="student_height">Altura (em centímetros)</label>
            <input type="number" id="student_height" name="student_height" step="0.01"
                   oninput="this.value = this.value.replace(/,/g, '.')"
                   onblur="this.value = this.value.replace(/,/g, '.')"
                   placeholder="Ex.: 129.34">
            <br>
            <label for="student_weight">Peso (em gramas)</label>
            <input type="number" id="student_weight" name="student_weight" placeholder="Ex.: 22934">
            <br>
            <input type="text" name="option" value="registrar_salvar" hidden>
            <input type="submit" value="Registrar" class="btn">
        </form>
    </div>
</section>
{% endblock %}