{% extends 'base.html' %}
{% block content %}
    <section class="container">
        <section class="contrast-section">
            <div class="container">
                <h4>Bem Vindo à página inicial</h4>
            </div>
        </section>   
        <section class="contrast-section">
            <div class="container">
                <h4>Aviso: somente teste</h4>
                <p>Site em adaptação e desenvolvimento.</p>
            </div>
        </section>
    </section>
{% endblock %}