{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  href="{% static 'css/index.css' %}" >
<div class="container_home">
    <div class="center-container"> <h1>Bem-vindo ao site de nutrição</h1>
    </div>
    <p class="info">
        Esse aplicativo tem como propósito auxiliar escolas no acompanhamento da alimentação infantil, promovendo hábitos saudáveis e facilitando o monitoramento dos alimentos consumidos pelos alunos. Com uma interface intuitiva e educativa, professores e educadores podem registrar e consultar valores nutricionais, contribuindo para uma alimentação equilibrada no ambiente escolar.
    </p>
    <div class="container_card">
        <div class="card_sheet">
            <img src="{% static 'img/didi.jpg' %}" alt="Didi">
            <div class="article_card">
                <h3>Alimentação saudável desde cedo</h3>
                <article>
                    <p>Energia para brincar e aprender</p>
                </article>
            </div>
        </div>
        <div class="card_sheet">
            <img src="{% static 'img/pao.jpg' %}" alt="Pão">
            <div class="article_card">
                <h3>CaloKids</h3>
                <article>
                    <p>Alimentação Consciente, Infância Saudável</p>
                </article>
            </div>
        </div>
        <div class="card_sheet">
            <img src="{% static 'img/menino.jpg' %}" alt="Menino">
            <div class="article_card">
                <h3>Incentivando a alimentação</h3>
                <article>
                    <p>Balanceada nas escolas.</p>
                </article>
            </div>
        </div>
    </div>
    <p></p>
</div>
{% endblock %}