{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="div-area">
        <form class="form-area" id="pesquisar-alimento" action="{% url 'listar_alimentos' %}" method="POST">
            {% csrf_token %}
            <h1>Pesquisa simples de alimentos</h1>
            <hr width="100%" />
            <label for="">Forneça a descrição ou o código de um alimento</label>
            <div class="lista-alimentos">
                <input name="search" placeholder="Feijão-de-corda">
            </div>
            <input type="submit" class="btn" value="Pesquisar">
            <input hidden name="option" value='listar_alimentos'>
        </form>
        <div class="form-area" id="lista-alimentos">
            {% csrf_token %}
            <h1>Lista de alimentos</h1>
            <hr width="100%" />
            <label for="">Selecione um alimento para visualizar detalhes</label>
            <div class="lista-alimentos">
                {%for food in lista_alimentos%}
                <form id='list_foods_form' action="{% url 'detalhes_alimento' %}" method="POST">
                    {% csrf_token %}
                    <small>{{food.descricao_do_alimento}} | {{food.categoria}} | {{food.descricao_da_preparacao}}</small>
                    <button type="submit" class="btn">&#9656;</button>
                    <input hidden name="food_id" value="{{food.id}}">
                </form>
                {%endfor%}
            </div>
        </div>
    </div>
</section>

<style>
.lista-alimentos form#list_foods_form {
    display: flex; /* Habilita o Flexbox para o formulário */
    flex-direction: row; /* Organiza os itens em linha (horizontalmente) */
    align-items: center; /* Alinha os itens verticalmente ao centro da linha */
    margin-bottom: 5px; /* Adiciona um pouco de espaço entre os formulários de alimentos */
}

.lista-alimentos form#list_foods_form small {
    flex-grow: 1; /* Permite que o texto cresça para ocupar o espaço disponível */
    margin-right: 10px; /* Adiciona um espaço entre o texto e o botão */
    font-size: 15px; /* Define o tamanho da fonte do texto para 10 pixels */
}

.lista-alimentos form#list_foods_form button.btn {
    flex-shrink: 0; /* Impede que o botão encolha */
    font-size: 0.7em; /* Ajuste o tamanho da fonte do botão para um valor menor */
    padding: 0.1em 0.3em; /* Ajusta o padding do botão para corresponder à altura do texto */
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    line-height: normal; /* Garante que a altura da linha não infle o botão */
    /* Outros estilos que você possa ter para o botão */
}
</style>

{% if lista_alimentos %}
    <script>
        document.getElementById('pesquisar-alimento').onsubmit = function() {
            var searchValue = document.querySelector('input[name="search"]').value;
            if (searchValue.trim() === '') {
                alert('Por favor, insira um valor para pesquisa.');
                return false; // Impede o envio do formulário
            }
        };
    </script>
{% endif %}

{% if lista_alimentos %}
    <script>
        document.getElementById('pesquisar-alimento').style.display = 'none';
        document.getElementById('lista-alimentos').style.display = 'block';
    </script>
{% else %}
    <script>
        document.getElementById('pesquisar-alimento').style.display = 'block';
        document.getElementById('lista-alimentos').style.display = 'none';
    </script>
{% endif %}





{% endblock %}