{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container">
    <div class="div-area">

        <form class="form-area" id="pesquisar-alimento" action="{% url 'somar_alimentos' %}" method="POST">
            {% csrf_token %}
            <h1>Pesquisa avançada</h1>
            <hr width="100%" />
            <label for="">Forneça a descrição ou o código de um alimento</label>
            <div class="lista-alimentos">
                <input name="search" placeholder="Feijão-de-corda" required>
            </div>
            <label for="categoria">Categoria</label>
            <select id="categoria" name="categoria">
                <option disabled selected value>-- selecione uma opção --</option>
                {% for verbose in categoria_choices %}
                <option value="{{verbose}}">{{verbose}}</option>
                {% endfor %}
            </select>
            <label for="modo_preparo">Modo de preparo</label>
            <select id="modo_preparo" name="modo_preparo">
                <option disabled selected value>-- selecione uma opção --</option>
                {% for key, verbose in modo_preparo_choices %}
                <option value="{{key}}">{{verbose}}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn" value="Pesquisar">
        </form>

        <form class="form-area" id="remove_food" action="{% url 'somar_alimentos' %}" method="POST">
            {% csrf_token %}
            <div class="table-area">
                <table class="listed-foods">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Valor Calórico</th>
                            <th>
                                Remover
                                {% if list_objects %}
                                <button type="button" id="select-all" class="select-all-btn">Selecionar todos</button>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if list_objects %}
                        {% for food in list_objects %}
                        <tr>
                            <td>{{ food.descricao_do_alimento }}</td>
                            <td>{{ food.energia_kcal }}</td>
                            <td class="check-box-foods">
                                <input type="checkbox" name="remove_food_ids"
                                       value="{{ food.id }}" class="food-checkbox">
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3">Não constam ingredientes ou refeições selecionadas.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if list_objects %}
            <hr width="100%" />
            <div class="table-area">
                <table class="macronutrientes-table">
                    <caption>Totais em macronutrientes (por 100g)</caption>
                    <thead>
                        <tr>
                            {% for total, verbose in dict_total.values %}
                            <th>{{ verbose }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for total, verbose in dict_total.values %}
                            <td>{{ total|floatformat:2 }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="submit" class="btn" value="Remover selecionados">
                                <input hidden name="option" value="remover">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </form>

        {% if lista_alimentos %}
        <div class="list_foods_form" id="lista-alimentos">
            {% csrf_token %}
            <h1>Resultados</h1>
            <hr width="100%" />
            <label for="">Selecione um alimento para incluí-lo à uma receita</label>
            <div class="lista-alimentos">
                {%for food in lista_alimentos%}
                <form id='list_foods_form' action=" " method="POST">
                    {% csrf_token %}
                    <small>{{food.descricao_do_alimento}} | {{food.categoria}} | {{food.descricao_da_preparacao}}</small>
                    <small>Calorias: {{food.energia_kcal}}</small>
                    <button type="submit" class="btn">&#x2713;</button>
                    <input hidden name="food_id" value="{{food.id}}">
                    <input hidden name="option" value="inserir">
                </form>
                {%endfor%}
            </div>
        </div>
        {% endif %}
    </div>

    {% if list_objects %}
        <div id="sidebarRadar">
            <canvas id="graficoRadar"></canvas>
            <div class="describe-area" id="describe-area">
                <small>
                    "Esta refeição corresponde a aproximadamente
                    {{dict_pct.lipidios_totais_g}}% da recomendação diária de lipídios,
                    {{dict_pct.carboidrato_g}}% de carboidratos,
                    {{dict_pct.proteina_g}}% de proteínas,
                    {{dict_pct.fibra_alimentar_total_g}}% de fibras e
                    {{dict_pct.energia_kcal}}% do valor energético total para a faixa etária de 4 a 8 anos."
                </small>
                <div class="tooltip-container">
                    <span class="tooltip-label">Observações</span>
                    <div class="tooltip-box">{{ tips }}</div>
                </div>
            </div>
        </div>
    {% endif %}
</section>

<style>
    .form-area {
        width: 80%;
        margin-bottom: 20px;
    }

    .select-all-btn {
        background: none;
        border: none;
        color: #0066cc;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.6em;
        margin-left: 10px;
        padding: 0px 0px;
    }

    .select-all-btn:hover {
        color: #004499;
    }

    #sidebarRadar {
        position: sticky;
        top: 10px;
        width: 300px;
        float: right;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #graficoRadar {
        width: 100% !important;
        height: auto !important;
    }

    .describe-area small {
        display: block;
        margin-top: 10px;
        color: #333;
        font-size: 13px;
        line-height: 1.4;
        text-align: right;
    }

    .tooltip-container {
        position: relative;
        display: inline-block;
        margin-top: 8px;
    }

    .tooltip-label {
        font-size: 0.75rem;
        color: #555;
        text-decoration: underline dotted;
        cursor: help;
    }

    .tooltip-box {
        visibility: hidden;
        width: 260px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        text-align: left;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 10;
        bottom: 125%;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
        font-size: 0.75rem;
    }

    .tooltip-container:hover .tooltip-box {
        visibility: visible;
        opacity: 1;
    }

    .lista-alimentos form#list_foods_form {
        display: flex; /* Habilita o Flexbox para o formulário */
        flex-direction: row; /* Organiza os itens em linha (horizontalmente) */
        align-items: center; /* Alinha os itens verticalmente ao centro da linha */
        margin-right: 10px; /* Adiciona um espaço entre os itens da lista (formulários) */
        font-size: 15px; /* Define o tamanho da fonte para os elementos dentro do formulário */
    }

    .lista-alimentos form#list_foods_form small {
        flex-grow: 1; /* Permite que o texto cresça para ocupar o espaço disponível */
        margin-right: 10px; /* Adiciona um espaço entre o texto e o botão */
    }

    .lista-alimentos form#list_foods_form button.btn {
        flex-shrink: 0;
        font-size: 0.5em; /* Reduz o tamanho da fonte pela metade */
        padding: 0.1em 0.3em; /* Mantenha ou ajuste o padding (0.5em seria muito pequeno) */
        height: auto; /* Permite que a altura se ajuste ao conteúdo com o padding reduzido */
        line-height: normal; /* Mantém a linha de altura normal para a fonte reduzida */
        width: auto; /* Permite que a largura se ajuste ao conteúdo com o padding reduzido */
        /* Outros estilos que você possa ter para o botão */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const selectAllBtn = document.getElementById('select-all');
        const checkboxes = document.querySelectorAll('.food-checkbox');
        let allSelected = false;

        selectAllBtn.addEventListener('click', function() {
            allSelected = !allSelected; // Alterna o estado

            checkboxes.forEach(checkbox => {
                checkbox.checked = allSelected;
            });

            selectAllBtn.textContent = allSelected ? 'Desmarcar todos' : 'Selecionar todos';
        });
    });


    let radarChart;
    function renderRadarChart() {
        const ctx = document.getElementById('graficoRadar');

        if (radarChart) {
            radarChart.destroy();
        }

        const valores = [
            parseFloat('{{ dict_pct.lipidios_totais_g }}'),
            parseFloat('{{ dict_pct.carboidrato_g }}'),
            parseFloat('{{ dict_pct.proteina_g }}'),
            parseFloat('{{ dict_pct.fibra_alimentar_total_g }}'),
            parseFloat('{{ dict_pct.energia_kcal }}')
        ];

        const cores = valores.map(v => {
            if (v < 15) return 'rgba(255, 99, 132, 0.5)';
            if (v < 30) return 'rgba(255, 206, 86, 0.5)';
            return 'rgba(75, 192, 192, 0.5)';
        });


        const dataRadar = {
            labels: [
                'Lipídios',
                'Carboidratos',
                'Proteínas',
                'Fibras',
                'Energia (kcal)'
            ],
            datasets: [{
                label: 'Distribuição percentual de Macronutrientes',
                data: valores,
                backgroundColor: cores,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        };

        const configRadar = {
            type: 'radar',
            data: dataRadar,
            options: {
                scales: {
                    r: {
                        angleLines: { display: true },
                        suggestedMin: 0,
                        suggestedMax: 40
                    }
                }
            }
        };

        radarChart = new Chart(ctx, configRadar);
    }

    // Chama a função ao carregar
    renderRadarChart();
</script>
{% endblock %}